{% extends 'base.html.twig '%}

{% form_theme formPost 'bootstrap_4_layout.html.twig' %}


{% block body %}
<br>
<br>
<p></p>
<h2>Création d'une post</h2>

{{ form_start(formPost) }}

        {{ form_row(formPost.title, {'attr': {'placeholder': "Titre"}}) }}
        {{ form_row(formPost.category) }}
        {{ form_row(formPost.content, {'attr': {'placeholder': "Exprimez vous"}}) }}
        {{ form_row(formPost.image, {'attr': {'placeholder': "adresse de l'image"}}) }}

        <button type="submit" class="btn btn-success">
                {% if editMode %}
                        Modifier le post
                {% else %}
                        Ajouter le post
                {% endif %}
        </button>
    
{{ form_end(formPost)}}

{% endblock %}