{% extends 'base.html.twig' %}

{% block title %}Hello ReseausController!{% endblock %}

{% block body %}

    {% for post in posts %}
        <div class="news card mb-4 mt-5 col-lg-7 col-md-12">
            <img class="card-img-top" src="{{ '/files/' ~ post.imgFileName }}" alt="Card image cap">
            <div class="text-center card-header">
                <a href="{{ path('show_user', {'id': post.user.id }) }}"><h3 id="beautifyFont"><i
                                class="fas fa-user-tie"></i> {{ post.user.alias }}</h3></a>
            </div>
            <div class="card-body">
                <h3 class="dateArt metadata">
                    <em>le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt | date('H:i') }}</em>
                </h3>


                <a href="{{ path('like', {'id' : post.id} )}}" class="btn btn-link">

                    <i class="far fa-heart fa-2x text-danger"></i>
                    <span class="js-likes">{{ post.loves | length}}</span>
                    <span class = "js-label">J'aime</span>
                </a>


                <p class="card-text">
                    {{ post.content | raw }}
                </p>
                {% if is_granted('ROLE_USER') %}
                <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id }) }}"><i
                            class="far fa-comments fa-2x"></i></a>
                {% else %}
                    <div class="badge badge-info">Connectez pour participer à la discussion </div></br>
                    <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id, 'usId': post.user.id }) }}"><i
                                class="far fa-comments fa-2x"></i></a>
                {% endif %}
            </div>
            {% if is_granted('edit',post) %}
                <a class="btn text-primary text-right" href="{{ path('edit_post', {'id': post.id }) }}">Modifier</a>
                {%  include "reseaus/delete_form.html.twig" %}

            {% endif %}
        </div>

    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>


{% endblock %}


