{% extends 'base.html.twig' %}


{% block body %}
    <article id="showPost">
        <div class="news card">
            <img class="card-img-top" src="{{ '/files/' ~ post.imgFileName }}" alt="Card image cap">
            <div class="container text-center">
            </div>
            <h2 class="card-title dateArt metadata">
                <span class="small text-muted">le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt | date('H:i') }}
                    cercle <strong class="badge badge-pill badge-primary">{{ post.category.title }}</strong></span>
            </h2>
            {%  for tag in post.tags %}
                <p class="badge badge-primary w-25">#{{ tag }}</p><br>
                {% endfor %}
            <p class="card-text">
                {{ post.content | raw }}
            </p>
        </div>


    </article>

    <section id="commentaires">
        {{ form_start(formComment) }}
        {{ form_row(formComment.content, {'attr': {'placeholder': "Exprimez vous"}}) }}

        <button type="submit" class="btn btn-success mb-5">
            Ajouter le commentaire
        </button>
        {{ form_end(formComment) }}

        {% for comment in post.comments %}
            <div class="comment col-sm-10 col-md-5 border rounded p-3 col-sm-10">
                <div class="row">
                    <div class="col-3">
                        <span class="badge-light text-black" ><i class="fas fa-user-secret"></i> {{ comment.user.alias }}</span>
                        <small class="small text-muted">{{ comment.createdAt | date('d/m/Y à H:i') }}</small>

                    </div>
                    <div class="col comment font-weight-light">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>

        {% endfor %}


    </section>
{% endblock %}