{% extends 'base.html.twig' %}

{% block title %}Cercle actu{% endblock %}

{% block body %}
    <div><h2>Résultat(s)</h2></div>
    {% for post in posts %}
        {% for post in post.posts %}
        <div class="news card mb-4 col-lg-7 col-sm-12 showPost">
            <div class="card-body">

                    <span class="js-likes">{{ post.loves | length }}</span>
                    <i class="fas fa-heart fa-2x text-danger"></i>
                    <span class="js-label">J'aime</span>

                <p class="card-text">
                    {{ post.content | raw }}
                </p>
                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id }) }}"><i
                                class="far fa-comments fa-2x"></i></a>
                {% else %}
                    <div class="badge badge-info mb-4">Connectez-vous pour participer à la discussion</div><br>
                    <a class="btn btn-primary" href="{{ path('post_show', {'id': post.id, 'usId': post.user.id }) }}"><i
                                class="far fa-comments fa-2x"></i></a>
                {% endif %}
            </div>
            {% if is_granted('edit',post) %}
                <a class="btn text-primary text-right" href="{{ path('post_edit', {'id': post.id }) }}">Modifier</a>
                {% include "reseaus/delete_form.html.twig" %}

            {% endif %}
        </div>
                {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>


{% endblock %}


