<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="{{ asset('style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-circle-notch fa-2x"></i> SocialNet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('reseaus') }}">Voir les posts</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('reseaus_create') }}">Exprimez vous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">Paramètres</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container bg-light">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5018656bb5.js"></script>
    <script>

    function onClickLike(event){
        event.preventDefault();
        fetch(this.href)
        .then(data=>{return data.json()})
        .then(res=>{             
            const likes = res.likes;
            this.querySelector('span.js-likes').textContent = likes;
            const icone = this.querySelector('i');
            if(!'0'== likes){
                icone.classList.replace('fas', 'far');
            }else{
                icone.classList.replace('far', 'fas');               
            }
            
        
        })
        .catch(error=>console.log(error))
    }
               /* const url = this.href;
                const spanCount = this.querySelector('span.js-likes');
                axios.get(url).then(function(response){
                    console.log(response)
                    const likes = response.data.likes;
                    spanCount.textContent = likes;
                })
            }*/
        document.querySelectorAll('.btn-link').forEach(function (link) {
           
            link.addEventListener('click', onClickLike);
  
            
        })
    </script>
{% endblock %}
</body>
</html>